/part-2/basic-network/containers/cli/peers/
/part-2/basic-network/containers/api/certs
/part-2/basic-network/containers/api/node_modules
/part-2/basic-network-ca/containers/api/node_modules
/part-2/basic-network-ca/containers/node_modules
/part-2/basic-network/containers/api/Caldera.tx
/part-2/basic-network/containers/artist/artistCA/ca
/part-2/basic-network/containers/artist/artistCA/tls
/part-2/basic-network/containers/artist/artistPeerFlorence/crypto
/part-2/basic-network/containers/artist/artistPeerParis/crypto

/part-2/basic-network/containers/broker/brokerCA/ca
/part-2/basic-network/containers/broker/brokerCA/tls
/part-2/basic-network/containers/broker/brokerPeerFlorence/crypto
/part-2/basic-network/containers/broker/brokerPeerParis/crypto

/part-2/basic-network/containers/orderers/ordererSolo/crypto
/part-2/basic-network-ca/api/node_modules
/part-2/basic-network-ca/api/chaincode/src/github.com
/part-2/basic-network-ca/api/certs


/part-3/basic-network-kafka/api/node_modules
/part-3/basic-network-kafka/api/certs
/part-3/basic-network-kafka/api/Caldera.tx
/part-3/basic-network-kafka/artifacts/channel-artifacts
/part-3/basic-network-extension/containers/api/certs
/part-3/basic-network-extension/containers/orderers/ordererSolo/crypto
/part-3/basic-network-extension/containers/broker/brokerPeerFlorence/crypto
/part-3/basic-network-extension/containers/broker/brokerPeerParis/crypto
/part-3/basic-network-extension/containers/artist/artistPeerFlorence/crypto
/part-3/basic-network-extension/containers/artist/artistPeerParis/crypto
/part-3/basic-network-extension/containers/artist/artistCA/ca
/part-3/basic-network-extension/containers/artist/artistCA/tls
/part-3/basic-network-extension/containers/broker/brokerCA/ca
/part-3/basic-network-extension/containers/broker/brokerCA/tls
/part-3/basic-network-extension/containers/cli/peers
/part-3/basic-network-extension/containers/api/node_modules
/part-3/basic-network-extension/org3-extension/containers/api/certs
/part-3/basic-network-extension/org3-extension/containers/api/peers
/part-3/basic-network-extension/org3-extension/containers/api/node_modules
/part-3/basic-network-extension/org3-extension/crypto-config
/part-3/basic-network-extension/org3-extension/containers/owner/ownerPeer/crypto
/part-3/basic-network-extension/org3-extension/containers/owner/ownerCA/tls
/part-3/basic-network-extension/org3-extension/containers/owner/ownerCA/ca
/part-3/basic-network-extension/org3-extension/containers/cli/peers
s/part-3/basic-network-extension/org3-extension/crypto-config
/part-3/basic-network-kafka/artifacts/crypto-configx
/part-3/basic-network-kafka/cli/peers
/part-3/basic-network-kafka/artifacts/crypto-config
/part-3/basic-network-kafka/api/chaincode/src/github.com